<script lang="ts">
  import { slide } from 'svelte/transition';

  import type { ItemInfo } from "./Items.svelte";
  import type { PersonInfo } from "./People.svelte";
  import PersonAssignment from './PersonAssignment.svelte';

  export let people: PersonInfo[];
  export let itemsRev: ItemInfo[];
  export let assignments: Record<string, string[]>;

  $: {
    const itemIds = Object.keys(assignments);
    itemIds.forEach((itemId) => {
      assignments[itemId].forEach((personId) => {
        const personExists = people.some(({ id }) => id === personId);
        if (!personExists) {
          const removed = assignments[itemId].filter((pId) => pId != personId);
          assignments[itemId] = removed;
        }
      });
    });
    assignments = assignments;
  }

  function flip(itemId: string, personId: string) {
    const newAssns = {
      ...assignments,
    };
    if (itemId in assignments && assignments[itemId].some(n => n === personId)) {
      newAssns[itemId] = assignments[itemId].filter(n => n !== personId);
    } else {
      newAssns[itemId] = [...(assignments[itemId] || []), personId];
    }
    assignments = newAssns;
  }
</script>

{#each itemsRev as item (item.id)}
<div class="card mt-2" transition:slide>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{item.name}</h5>
        <h6 class="card-subtitle mb-2 text-muted">${item.price.toFixed(2)}</h6>
      </div>
      <div class="col">
        <div class="card-text">
          {#each people as person (person.id)}
            <PersonAssignment
              person={person}
              item={item}
              itemAssignments={assignments[item.id]}
              on:flip={() => flip(item.id, person.id)}
            />
          {/each}
        </div>
      </div>
    </div>
  </div>
</div>
{/each}
