<script lang="ts">
  import 'bootstrap/dist/css/bootstrap.min.css';
  import { slide } from 'svelte/transition';

  import People, { type PersonInfo } from './People.svelte';
  import Items, { type ItemInfo } from './Items.svelte';
  import Assignments from './Assignments.svelte';
  import TaxTip from './TaxTip.svelte';
  import Totals from './Totals.svelte';

  let people: PersonInfo[] = [];
  let items: ItemInfo[] = [];
  $: itemsRev = [...items].reverse();

  $: subtotal = items.reduce((acc, { price }) => acc + price, 0);

  let assignments: Record<string, string[]> = {};

  let tax: number = 0;
  $: taxRate = (tax/subtotal) || 0;

  let tip: number = 0;
  $: tipRate = (tip/subtotal) || 0;

  $: total = subtotal + tax + tip;

  // people.push({
  //   id: "kyle",
  //   name: "Kyle",
  // });
  // people.push({
  //   id: "notkyle",
  //   name: "Not Kyle",
  // });
  // items.push({
  //   id: "oranges",
  //   name: "Oranges",
  //   price: 32.95,
  // });
  // items.push({
  //   id: "apples",
  //   name: "Apples",
  //   price: 12.52,
  // });
  // tip = 12.95;
  // tax = 13.07;
  // assignments["oranges"] = ["kyle"];
  // assignments["apples"] = ["notkyle", "kyle"];

</script>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-8">
      <h1>Split</h1>
      <h2>Step 1: Setup People</h2>
      <People bind:people={people} />
      {#if people.length > 0}
        <div transition:slide|local>
          <hr />
          <h2>Step 2: Setup Items</h2>
          <Items bind:items={items} itemsRev={itemsRev} />
          {#if items.length > 0}
            <hr />
            <h2>Step 3: Tax & Tip</h2>
            <TaxTip
              subtotal={subtotal}
              total={total}
              bind:tax={tax}
              bind:tip={tip}
              taxRate={taxRate}
              tipRate={tipRate}
            />
            <hr />
            <h2>Step 4: Assign Items</h2>
            <Assignments
              people={people}
              itemsRev={itemsRev}
              bind:assignments={assignments}
            />
            <hr />
            <h2>Step 5: Totals</h2>
            <Totals
              total={total}
              taxRate={taxRate}
              tipRate={tipRate}
              people={people}
              items={items}
              assignments={assignments}
            />
          {/if}
        </div>
      {/if}
    </div>
    <div class="col"></div>
  </div>
</div>
