<script lang="ts">
  import { slide } from 'svelte/transition';
  import type { ItemInfo } from './Items.svelte';

  export let item: ItemInfo;
  export let delItem: (item: ItemInfo) => void;
  export let updateItem: (id: string, newName: string, newPrice: number) => void;

  function nameChange(e: { target: HTMLInputElement|EventTarget|null }) {
    if (!e.target || !("value" in e.target)) {
      return;
    }
    updateItem(item.id, e.target.value, item.price);
  }

  function priceChange(e: { target: HTMLInputElement|EventTarget|null }) {
    if (!e.target || !("value" in e.target)) {
      return;
    }
    updateItem(item.id, item.name, Number(e.target.value));
  }
</script>

<li transition:slide class="input-group mt-2">
  <input
    class="form-control"
    placeholder="Item's name"
    value={item.name}
    on:input={nameChange}
  />
  <input
    type="number"
    step="0.01"
    class="form-control"
    value={item.price}
    on:input={priceChange}
  />
  <div
    on:click={() => delItem(item)}
    class="btn btn-danger"
  >
    Remove
  </div>
</li>
