<script lang="ts" context="module">
  export interface ItemInfo {
    id: string;
    name: string;
    price: number;
  }
</script>

<script lang="ts">
  import { newID } from './ID.svelte';
  import Item from './Item.svelte';

  export let items: ItemInfo[];
  export let itemsRev: ItemInfo[];
  let newItemName: string = '';
  let newItemPrice: number | undefined;

  let inputElem: HTMLInputElement;
  let priceElem: HTMLInputElement;

  function addItem() {
    if (!newItemPrice) {
      return;
    }
    const newItem: ItemInfo = {
      id: newID(),
      name: newItemName,
      price: newItemPrice,
    };
    items = [...items, newItem];
    newItemName = '';
    newItemPrice = undefined;
    if (inputElem) {
      inputElem.focus();
    }
  }

  function removeItem(item: ItemInfo) {
    items = items.filter(i => i.id !== item.id);
  }

  function updateItem(id: string, newName: string, newPrice: number) {
    items = items.map((item) => {
      if (item.id === id) {
        return {
          ...item,
          name: newName,
          price: newPrice,
        };
      }
      return item;
    });
  }

  function keyDownName(e: KeyboardEvent) {
    if (e.key == "Enter") {
      priceElem.focus();
    }
  }

  function keyDownPrice(e: KeyboardEvent) {
    if (e.key == "Enter") {
      addItem();
    }
  }

</script>

<div class="input-group mt-2">
  <input
    class="form-control"
    placeholder="Item name"
    bind:value={newItemName}
    bind:this={inputElem}
    on:keydown={keyDownName}
  />
  <input
    class="form-control"
    type="number"
    step="0.01"
    placeholder="$10.00"
    bind:value={newItemPrice}
    bind:this={priceElem}
    on:keydown={keyDownPrice}
  />
  <button
    class="btn btn-primary"
    on:click={addItem}
  >
    Add item
  </button>
</div>
<div class="mt-2">
  {#if items.length == 0}
    <p class="alert alert-danger">
      No items added.
    </p>
  {/if}
  {#each itemsRev as item (item.id)}
    <Item
      item={item}
      delItem={removeItem}
      updateItem={updateItem}
    />
  {/each}
</div>
