<script lang="ts" context="module">
  export interface PersonInfo {
    id: string;
    name: string;
  }
</script>

<script lang="ts">
  import { slide } from 'svelte/transition';
  import { newID } from './ID.svelte';
  import Person, { type PersonEvent } from './Person.svelte';

  let inputElem: HTMLInputElement;

  export let people: PersonInfo[];
  let newPersonName = '';


  function keydown(e: KeyboardEvent) {
    if (e.key == "Enter") {
      addPerson(newPersonName);
    }
  }

  function addPerson(name: string) {
    if (people.some(p => p.name === name)) {
      return;
    }
    const newPerson = {
      name: name,
      id: newID(),
    }
    people = [...people, newPerson];
    newPersonName = '';
    inputElem.focus();
  }

  function updatePerson(id: string, name: string) {
    people = people.map((person) => {
      if (person.id === id) {
        return {
          ...person,
          name,
        };
      }
      return person;
    });
  }

  function removePerson(id: string) {
    people = people.filter(p => p.id !== id);
  }

  function updateHandler(e: CustomEvent<PersonEvent['update']>) {
    updatePerson(e.detail.id, e.detail.name);
  }

  function deleteHandler(e: CustomEvent<PersonEvent['delete']>) {
    removePerson(e.detail.id);
  }
</script>

<div class="input-group mt-2">
  <input
    class="form-control"
    placeholder="Person's name"
    bind:value={newPersonName}
    bind:this={inputElem}
    on:keydown={keydown}
  />
  <button
    class="btn btn-primary"
    on:click={() => addPerson(newPersonName)}
  >
    Add person
  </button>
</div>

<div class="mt-2">
  {#if people.length == 0}
    <p class="alert alert-danger" transition:slide>
      No people added.
    </p>
  {/if}
  {#each people as person (person.id)}
    <Person
      person={person}
      on:update={updateHandler}
      on:delete={deleteHandler}
    />
  {/each}
</div>
