<script lang="ts" context="module">
  export interface PersonEvent {
    delete: {
      id: string;
    };
    update: {
      id: string;
      name: string;
    }
  }
</script>

<script lang="ts">
	import { createEventDispatcher } from 'svelte';
  import { slide } from 'svelte/transition';
  import type { PersonInfo } from './People.svelte';

  const dispatch = createEventDispatcher<PersonEvent>();

  export let person: PersonInfo;

  const delPerson = () => dispatch('delete', { id: person.id });
  const updateName = (newName: string) => dispatch('update', { id: person.id, name: newName })

  function nameChange(e: { target: HTMLInputElement|EventTarget|null }) {
    if (!e.target || !("value" in e.target)) {
      return;
    }
    updateName(e.target.value);
  }
</script>

<li transition:slide class="input-group mt-2">
  <input
    class="form-control"
    placeholder="Person's name"
    value={person.name}
    on:input={nameChange}
  />
  <div
    on:click={delPerson}
    class="btn btn-danger"
  >
    Remove
  </div>
</li>
