<script lang="ts">
  import { slide } from 'svelte/transition';
  import type { PersonInfo } from './People.svelte';
  import type { PersonTotal } from './Totals.svelte';

  export let person: PersonInfo;
  export let totals: PersonTotal;

  function showDollarsAndCents(n: number): string {
    return (Math.floor(n*100)/100).toFixed(2);
  }

  function showPartialCents(n: number): string {
    return Math.abs(Math.floor((n*10000)%100)).toString().padStart(2, "0")
  }

  $: total = totals.food + totals.tax + totals.tip;
  $: totalRounded = Math.round(total*100)/100;

  $: taxDisp = showDollarsAndCents(totals.tax);
  $: tipDisp = showDollarsAndCents(totals.tip);
  $: taxThousandths = showPartialCents(totals.tax);
  $: tipThousandths = showPartialCents(totals.tip);
</script>

<tr transition:slide>
  <td>{person.name}</td>
  <td>${totals.food.toFixed(2)}</td>
  <td>${taxDisp}<span class="text-muted">{taxThousandths}</span></td>
  <td> ${tipDisp}<span class="text-muted">{tipThousandths}</span></td>
  <td class="bg-primary text-white">${totalRounded.toFixed(2)}</td>
</tr>
