<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import { slide } from 'svelte/transition';
  import { individualPrice } from './numUtils';

  import type { ItemInfo } from './Items.svelte';
  import type { PersonInfo } from "./People.svelte";

  const dispatch = createEventDispatcher<{ flip: {}; }>();


  export let person: PersonInfo;
  export let item: ItemInfo;

  $: uuid = `check-item-${item.id}-person-${person.id}`;

  export let itemAssignments: string[] | undefined;
  $: isAssigned = itemAssignments?.some((pId) => pId === person.id) || false;

  $: personIndex = itemAssignments?.indexOf(person.id) || 0;
  $: myPrice = individualPrice(item.price, itemAssignments?.length || 0, personIndex);
</script>

<div transition:slide>
  <input
    type="checkbox"
    class="form-check-input"
    checked={isAssigned}
    on:change={() => dispatch('flip')}
    id={uuid}
  />
  <label
    class="form-check-label"
    for={uuid}
  >
    {person.name}
    {#if isAssigned}
      (${myPrice.toFixed(2)})
    {/if}
  </label>
</div>
