<script lang="ts">
  export let subtotal: number;
  export let total: number;
  export let tax: number;
  export let taxRate: number;
  export let tip: number;
  export let tipRate: number;

  function dispRate(percentage: number) {
    return (percentage*100).toFixed(2)+"%";
  }
</script>

<div class="input-group mt-2">
  <span class="input-group-text">Subtotal</span>
  <input
    disabled
    type="text"
    value={"$"+subtotal.toFixed(2)}
    class="form-control"
  />
</div>

<div class="input-group mt-2">
  <span class="input-group-text">Tax</span>
  <input
    class="form-control"
    type="number"
    step="0.01"
    bind:value={tax}
  />
  <input
    disabled
    class="form-control"
    value={dispRate(taxRate)}
  />
</div>

<div class="input-group mt-2">
  <span class="input-group-text">Tip</span>
  <input
    class="form-control"
    type="number"
    step="0.01"
    bind:value={tip}
  />
  <input
    disabled
    class="form-control"
    value={dispRate(tipRate)}
  />
</div>

<div class="input-group mt-2">
  <span class="input-group-text">Total</span>
  <input
    disabled
    type="text"
    value={"$"+total.toFixed(2)}
    class="form-control"
  />
</div>
