<script lang="ts" context="module">
  export interface PersonTotal {
    food: number;
    foodNotRounded: number;
    tip: number;
    tax: number;
  }
</script>

<script lang="ts">
  import { individualPrice } from './numUtils';
  import type { ItemInfo } from './Items.svelte';
  import type { PersonInfo } from './People.svelte';
  import PersonTotals from './PersonTotals.svelte';

  export let taxRate: number;
  export let tipRate: number;

  export let total: number;

  export let people: PersonInfo[];
  export let items: ItemInfo[];
  export let assignments: Record<string, string[]>;
  $: itemIds = Object.keys(assignments);

  // Map from person ID to totals
  let totals: Record<string, PersonTotal> = {};
  $: grandTotal = people.reduce((acc, { id: personId }) => {
    const totalsForPerson = totals[personId];
    return acc + totalsForPerson.food + totalsForPerson.tax + totalsForPerson.tip;
  }, 0)

  $: {
    let newTotals: Record<string, PersonTotal> = {};
    people.forEach((person) => {
      newTotals[person.id] = {
        food: 0,
        foodNotRounded: 0,
        tip: 0,
        tax: 0,
      };
      itemIds.forEach((itemId) => {
        const item = items.find((item) => item.id === itemId);
        const itemPrice = item?.price || 0;
        const peopleIdsForItem = assignments[itemId] || [];
        const numPeopleAssignedToItem = peopleIdsForItem.length;
        const personIndex = peopleIdsForItem.indexOf(person.id) || 0;
        const myPrice = individualPrice(itemPrice, numPeopleAssignedToItem, personIndex);
        const thisPersonAssigned = peopleIdsForItem.some((pid) => pid === person.id);
        if (thisPersonAssigned) {
          newTotals[person.id].food += myPrice;
          newTotals[person.id].foodNotRounded += itemPrice/numPeopleAssignedToItem;
        }
      });
      newTotals[person.id].tip = (newTotals[person.id].foodNotRounded * tipRate);
      newTotals[person.id].tax = (newTotals[person.id].foodNotRounded * taxRate);
    });
    totals = newTotals;
  }

</script>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Food</th>
      <th scope="col">Tax</th>
      <th scope="col">Tip</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {#each people as person (person.id)}
      <PersonTotals
        person={person}
        totals={totals[person.id]}
      />
    {/each}
  </tbody>
</table>

<div class="input-group mt-2 mb-2">
  <span class="input-group-text">
    Total of all people
  </span>
  <input
    type="text"
    class="form-control text-white"
    disabled
    value={"$"+grandTotal.toFixed(2)}
    class:bg-success={grandTotal.toFixed(2) === total.toFixed(2)}
    class:bg-danger={grandTotal.toFixed(2) !== total.toFixed(2)}
  />
</div>
